<footer>
	<div class="mirror">
	[<a rel="me" href="https://tech.lgbt/@nuclearegg">Mastodon</a>]
	[<a rel="rss" href="/index.xml">rss</a>]
	[<a href="http://void5xgev2n26prpzqvf2g3gqv5kx7kz6md4skqngrfm23rmwkbralad.onion">onion_1</a>|<a href="http://onr7jsuop46syuchuikgasriuwgo3if76yt6ehcgr7fralaoh2ezvtyd.onion">onion_2</a>|<a href="http://lmwr2pugnmv4pkkxlneeepi4oysfly33zfuj7x25s6hfydysnpfq.b32.i2p">i2p</a>|<a href="http://[201:e2aa:7c70:666b:9a28:6406:be7f:bf0d]">yggdrasil</a>]
	<a rel="lisence" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC BY-SA 4.0" src="/stickers/cc4.png"></a>
	</div>
</footer>
