<div class="stickers">
	<a target="_blank" href="https://yesterweb.org/no-to-web3/" ><img alt="Web 3 is a scam" src="/stickers/notoweb3.gif" /></a>
	<a target="_blank" href="https://mullvad.net/en/browser" ><img alt="Fuck Chromium" src="/stickers/same-shit-different-asshole_banner.gif" /></a>
	<a target="_blank" href="https://www.vim.org" ><img alt="I ♡ vim" src="/stickers/edited-with-vim_banner.gif" /></a>
	<a target="_blank" href="https://theanarchistlibrary.org/library/umberto-eco-ur-fascism"><img alt="Fascism is a cancer" src="/stickers/nonazis.png"></a>
	<a target="_blank" href="https://wiby.me"><img alt="Wiby is great" src="/stickers/wiby.gif"></a>
	<a target="_blank" href="https://anybrowser.org/campaign/"><img alt="Viewable in any browser" src="/stickers/4nobody.gif"></a>
</div>
