<div class="about">
<a title="Vector graphic" href="/logoOptimised.svg"><img src="/logoOptimised.png" /></a>
<ul>
	<li><b>Name:</b> Marty</li>
	<li title="13-6-2001 Gregorian calendar"><b>Date of birth:</b> 18-con-3167</li>
	<li><b>Gender:</b> Not really</li>
	<li><b>Email:</b> <a href="mailto:marty.wanderer@disroot.org">marty.wanderer@disroot.org</a></li>
	<li><b><a href="/keys/gpg.asc">GPG key</a></b></li>
	<li><b>Country:</b> Check the TLD</li>
	<li><b><a href="gemini://voidcruiser.nl">Gemini</a></b></li>
	<li><b><a href="https://gitlab.com/EternalWanderer">Gitlab</a></b> - because I evidently can't be arsed to host my own git interface yet...</li>
	<li><b><a rel="me" href="https://tech.lgbt/@nuclearegg">Mastodon</a></b></li>
</ul>
</div>
